name: Release Bitnami Image
on:
  push:
    branches: [ release_docker, dev-build ]
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
      # This is a manual workaround until the latest tagging is fixed:
      # https://github.com/timescale/timescaledb-docker/issues/205
      no_tag_latest:
        description: 'Do not tag the published images as latest'
        type: boolean
        required: false
        default: false
env:
  ORG: timescale #timescaledev
  TS_VERSION: ${{ github.event.inputs.version || '2.15.0' }}
jobs:

  # Build bitnami images of TimscaleDB.
  # The images are built only for amd64, since it is the only supported architecture in the base image bitname/postgresql.
  # The images are only built for TSL code.
  timescaledb-bitnami:

    name: PG${{ matrix.pg }}-${{ matrix.base-image }}-bitnami
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pg: [14, 15, 16]
        base-image: [postgresql, postgresql-repmgr]

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USER }} --password-stdin

      - name: Build and push amd64 Docker image for TimescaleDB bitnami
        run: |
          if [ "${{ github.event.inputs.no_tag_latest }}" == "true" ]
          then
              export BETA=1
          fi
          make push ORG=$ORG PG_BASE_IMAGE=${{ matrix.base-image }} PG_VER=pg${{ matrix.pg }} TS_VERSION=$TS_VERSION BETA=$BETA
        working-directory: bitnami
