name: Docker Image for specific branch

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'branch or tag to build'
        required: true

env:
  ORG: timescaledev
  TS_VERSION: ${{ github.event.inputs.branch }}
  PLATFORM: linux/amd64

jobs:

  # Build ubuntu TimescaleDB images for both TSL and OSS code.
  timescaledb:

    name: Docker ${{ github.event.inputs.branch }} PG${{ matrix.pg }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pg: [14]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: Linux available buildx platforms
      run: echo ${{ steps.buildx.outputs.platforms }}

    - name: Linux available buildx platforms
      run: echo ${TS_VERSION}

    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USER }} --password-stdin

    - name: Build and push nightly Docker image for TimescaleDB
      run: make multi ORG=$ORG PG_VER=pg${{ matrix.pg }} TS_VERSION="${TS_VERSION}" PLATFORM=$PLATFORM TAG="-t timescaledev/timescaledb:branch-${TS_VERSION}-pg${{ matrix.pg }}"

