name: Docker Image Nightly Build CI

on:
  push:
    branches:
      - cron_build
  pull_request:
    paths: .github/workflows/docker-nightly-build.yml

  workflow_dispatch:

  schedule:
    # run daily 0:00
    - cron: '0 0 * * *'

env:
  ORG: timescaledev
  TS_VERSION: main
  PLATFORM: linux/amd64

jobs:

  # Build ubuntu TimescaleDB images for both TSL and OSS code.
  timescaledb:

    name: PG${{ matrix.pg }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pg: [15, 16, 17, 18]

    steps:
    - uses: actions/checkout@v6

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3

    - name: Linux available buildx platforms
      run: echo ${{ steps.buildx.outputs.platforms }}

    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USER }} --password-stdin

    - name: Build and push nightly Docker image for TimescaleDB
      run: make multi ORG=$ORG PG_VER=pg${{ matrix.pg }} TS_VERSION=$TS_VERSION PLATFORM=$PLATFORM TAG="-t timescaledev/timescaledb:nightly-pg${{ matrix.pg }}"

